In [1]:
from Bio.PDB import *
from biopandas.pdb import PandasPdb
import numpy as np
import sys

In [2]:
new = PandasPdb().read_pdb('6nb8_imgt.pdb')
# new.head()
# #new1 = new.df['ATOM'].head()
kinley = new.df['ATOM']
draft = kinley.drop(['blank_3', 'blank_2','blank_1', 'alt_loc','insertion','blank_4','segment_id'],axis=1)
draft

,record_name,atom_number,atom_name,residue_name,chain_id,residue_number,x_coord,y_coord,z_coord,occupancy,b_factor,element_symbol,charge,line_idx
0,ATOM,1,N,GLN,H,1,-33.327,-6.806,-5.277,1.0,49.52,N,NaN,4
1,ATOM,2,CA,GLN,H,1,-32.527,-5.547,-5.243,1.0,37.80,C,NaN,5
2,ATOM,3,C,GLN,H,1,-31.583,-5.553,-4.028,1.0,26.57,C,NaN,6
3,ATOM,4,O,GLN,H,1,-31.530,-4.550,-3.330,1.0,26.14,O,NaN,7
4,ATOM,5,CB,GLN,H,1,-33.460,-4.335,-5.233,1.0,42.86,C,NaN,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3437,ATOM,3669,CA,CYS,L,234,-9.659,36.293,-18.741,1.0,57.87,C,NaN,3672
3438,ATOM,3670,C,CYS,L,234,-9.263,36.267,-17.261,1.0,69.32,C,NaN,3673
3439,ATOM,3671,O,CYS,L,234,-8.098,36.006,-16.946,1.0,67.74,O,NaN,3674
3440,ATOM,3672,CB,CYS,L,234,-9.395,34.918,-19.350,1.0,65.58,C,NaN,3675
3441,ATOM,3673,SG,CYS,L,234,-10.119,34.646,-20.993,1.0,76.81,S,NaN,3676

In [3]:
#  H data
H_chain = draft[draft['chain_id'] == 'H']
H_chain = H_chain[H_chain['residue_number'] <= 126]
H_chain = H_chain[H_chain['residue_number'] >=1]
H_chain

,record_name,atom_number,atom_name,residue_name,chain_id,residue_number,x_coord,y_coord,z_coord,occupancy,b_factor,element_symbol,charge,line_idx
0,ATOM,1,N,GLN,H,1,-33.327,-6.806,-5.277,1.0,49.52,N,NaN,4
1,ATOM,2,CA,GLN,H,1,-32.527,-5.547,-5.243,1.0,37.80,C,NaN,5
2,ATOM,3,C,GLN,H,1,-31.583,-5.553,-4.028,1.0,26.57,C,NaN,6
3,ATOM,4,O,GLN,H,1,-31.530,-4.550,-3.330,1.0,26.14,O,NaN,7
4,ATOM,5,CB,GLN,H,1,-33.460,-4.335,-5.233,1.0,42.86,C,NaN,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,ATOM,991,C,VAL,H,126,-0.119,2.748,3.679,1.0,17.41,C,NaN,994
991,ATOM,992,O,VAL,H,126,0.568,2.171,2.835,1.0,21.10,O,NaN,995
992,ATOM,993,CB,VAL,H,126,-1.335,0.653,4.406,1.0,16.39,C,NaN,996
993,ATOM,994,CG1,VAL,H,126,-0.471,0.457,5.643,1.0,17.83,C,NaN,997
994,ATOM,995,CG2,VAL,H,126,-2.701,0.017,4.584,1.0,17.75,C,NaN,998

In [4]:
#  L data
L_chain = draft[draft['chain_id'] == 'L']
L_chain = L_chain[L_chain['residue_number'] <= 127]
L_chain = L_chain[L_chain['residue_number'] >= 1]
L_chain

,record_name,atom_number,atom_name,residue_name,chain_id,residue_number,x_coord,y_coord,z_coord,occupancy,b_factor,element_symbol,charge,line_idx
1749,ATOM,1981,N,ASP,L,1,-2.983,-21.842,-3.891,1.0,14.37,N,NaN,1984
1750,ATOM,1982,CA,ASP,L,1,-4.366,-21.605,-4.341,1.0,13.62,C,NaN,1985
1751,ATOM,1983,C,ASP,L,1,-4.456,-21.927,-5.833,1.0,12.66,C,NaN,1986
1752,ATOM,1984,O,ASP,L,1,-3.409,-22.047,-6.481,1.0,15.29,O,NaN,1987
1753,ATOM,1985,CB,ASP,L,1,-4.816,-20.156,-4.170,1.0,14.76,C,NaN,1988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2611,ATOM,2843,CB,LYS,L,127,-10.677,-0.694,-33.009,1.0,21.33,C,NaN,2846
2612,ATOM,2844,CG,LYS,L,127,-9.444,-1.172,-32.251,1.0,24.26,C,NaN,2847
2613,ATOM,2845,CD,LYS,L,127,-8.465,-1.955,-33.093,1.0,30.81,C,NaN,2848
2614,ATOM,2846,CE,LYS,L,127,-8.984,-3.327,-33.443,1.0,33.31,C,NaN,2849
2615,ATOM,2847,NZ,LYS,L,127,-8.072,-4.028,-34.376,1.0,38.88,N,NaN,2850

In [5]:
import math

def e_dist(x1, y1, z1, x2, y2, z2):
    return math.sqrt((x2-x1)**2+(y2-y1)**2+(z2-z1)**2)


valid_bonds = {}

num = 0
for _, H_row in H_chain.iterrows():
    
    x_1, y_1, z_1 = H_row['x_coord'], H_row['y_coord'], H_row['z_coord']
    
    for _, L_row in L_chain.iterrows():
        x_2, y_2, z_2 = L_row['x_coord'], L_row['y_coord'], L_row['z_coord']
        
        distance = e_dist(x_1,y_1,z_1,x_2,y_2,z_2)
        
        if distance <= 5:
           # print('Bond found!' + 'Distance = ', distance)
            num += 1
            
            valid_bonds[str(num)] = {'chain' : [H_row['atom_number'],  L_row['atom_number']],
                                    'dist': distance}
            A = H_row['residue_number']
            B = L_row['residue_number']
            print(A,B)
#         else:
#             print("Bond can't be formed!"+ 'Distance = ', distance)
            
        
        
        
  # print('Bond length between the atoms with serial number {} and {} is {:.5f}'.format(coords[i][1], coords[j][1], dist))

42 118
42 118
44 44
44 44
44 44
44 103
44 44
44 44
44 44
44 44
44 44
44 44
44 103
44 103
44 103
44 103
50 118
50 118
50 118
50 118
50 118
50 118
50 118
50 118
50 118
50 118
50 118
50 118
50 118
50 118
50 118
50 118
50 118
50 118
50 118
50 118
50 118
50 50
50 103
50 103
50 103
50 103
50 118
50 118
50 118
50 118
50 118
50 44
50 50
50 50
50 103
50 103
50 103
50 103
50 103
50 103
50 103
50 103
50 118
50 118
50 118
50 118
50 118
50 118
50 50
51 118
51 118
52 116
52 118
52 116
52 115
52 116
52 116
52 116
52 116
52 116
52 116
52 115
52 116
52 116
52 116
52 116
52 116
52 116
52 115
52 115
52 116
52 116
52 116
52 116
52 116
52 116
52 115
52 115
52 115
52 116
52 114
52 114
52 114
52 114
52 115
52 115
52 115
52 114
52 114
52 115
66 114
66 114
66 114
66 114
66 114
66 114
66 114
66 114
67 114
67 114
67 114
67 114
67 114
69 1
103 49
103 49
103 49
103 49
103 49
103 49
103 50
103 44
103 50
103 44
103 48
103 49
103 49
103 49
103 50
103 44
103 44
103 48
103 48
103 49
103 49
103 49
103 50
111 34
111 34
111 34
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 31
112 107
112 31
112 114
112 31
112 31
112 31
112 31
112 31
112 31
112 31
112 31
112 34
112 38
112 31
112 31
112 34
112 34
112 38
112 31
112 31
112 107
112 116
112 116
112 105
112 107
112 107
112 107
112 116
112 105
112 105
112 107
112 107
112 107
112 107
112 116
112 116
112 107
112 107
112 107
112 114
112 116
112 116
112 116
112 116
112 114
112 116
112 116
112 116
112 116
112 114
112 116
112 116
112 116
112 116
112 114
112 114
112 114
112 114
112 114
112 116
112 114
112 114
112 116
112 116
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 114
112 116
113 107
113 107
113 38
113 38
113 38
113 105
113 107
113 107
113 107
113 40
113 40
113 105
113 38
113 38
113 40
113 40
113 40
113 52
113 105
113 107
113 38
113 38
113 38
113 38
113 38
113 38
113 38
113 38
113 38
113 38
113 38
113 38
113 38
113 107
113 107
113 38
113 38
113 38
113 38
113 38
113 38
113 38
113 38
113 38
113 38
113 38
113 38
113 38
113 38
113 38
113 107
113 107
113 107
113 108
113 108
113 31
113 31
113 34
113 38
113 38
113 38
113 38
113 38
113 38
113 38
113 107
113 31
113 31
113 31
113 38
113 38
113 38
113 38
113 38
113 38
113 38
113 107
113 107
113 108
113 108
114 40
114 52
114 105
114 40
114 52
114 52
114 40
114 52
114 52
114 52
114 40
114 40
114 42
114 42
114 42
114 52
114 52
114 52
114 52
114 52
114 105
114 105
114 52
114 52
114 52
114 52
114 52
114 52
114 52
114 52
114 52
114 55
114 55
114 55
114 52
115 52
115 42
115 42
115 42
115 42
115 42
115 42
115 42
115 42
115 105
115 105
115 105
115 105
115 116
115 116
115 116
115 116
116 52
116 42
116 42
116 52
116 52
116 52
116 52
116 52
116 52
116 52
116 52
116 52
116 52
116 52
116 52
116 52
116 52
116 52
116 52
116 52
116 52
116 52
116 68
116 52
116 52
118 49
118 49
118 49
118 49
118 49
118 49
118 49
118 50
118 50
118 49
118 49
118 50
118 50
118 50
118 50
118 50
118 42
118 50
118 50
118 49
118 50
118 50
118 50
118 50
118 50
118 50
118 42
118 42
118 42
118 50
118 50
118 50
118 42
118 42
118 42
118 50
118 50
118 50
118 50
118 49
118 50
118 50
118 50
118 50
118 42
118 42
118 42
118 50
118 50
118 50
118 118
118 118
118 50
118 50
118 50
118 50
118 50
118 50
118 118
118 118
118 118
119 49
119 49
119 49
119 49
119 49
119 49
119 49
120 49
120 47